<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Experience</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i < skill.length; i++){ %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <%= skill[i].name %>
                            </td>
                            <td>
                                <%= skill[i].experience %>
                            </td>
                            <td>
                                <img src="https://admin-portofolio.herokuapp.com/<%= skill[i].imageUrl %>"
                                    alt="imageUrl" width="70px">
                            </td>
                            <td>
                                <form action="/admin/skill/<%= skill[i].id %>?_method=DELETE" method="POST">
                                    <a href="javascript:void()" type="button"
                                        class="btn btn-warning button-update btn-sm" data-id="<%= skill[i].id %>"
                                        data-name=" <%= skill[i].name %>"
                                        data-experience="<%= skill[i].experience %>"><i class="fas fa-edit"></i></a>
                                    <button href="" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>

            </table>
        </div>
    </div>
</div>